repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    # - id: check-added-large-files
    #   args: [--maxkb=2048]
    - id: check-case-conflict
    - id: mixed-line-ending
    - id: end-of-file-fixer
      args: [ --fix=lf ]
    - id: check-json
    - id: check-toml
    - id: check-yaml
    - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.9
  hooks:
    - id: ruff-check
      types_or: [ python, pyi ]
      args: [ --fix ]
    - id: ruff-format
      types_or: [ python, pyi ]
