<!DOCTYPE html>
<html class="is-dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="base" content="https://undecv.github.io/awesome-windows-applications/">

    <title>キャンディージャー • 用過都說好的軟體推薦</title>

    <link rel="icon" type="image/png" href="https://undecv.github.io/blog/favicon.32.png">
    <meta name="color-scheme" content="light dark">
    <meta name="description"
        content="推薦一些 Windows 平台下的軟體， 適合日常以及非日常使用。並不一定每一款軟體你都需要或適合你，也未必是大眾的選擇；但是那些無時無刻不在彈廣告的辣雞軟體絕對不會是你的選擇。">
    <meta property="og:description"
        content="推薦一些 Windows 平台下的軟體， 適合日常以及非日常使用。並不一定每一款軟體你都需要或適合你，也未必是大眾的選擇；但是那些無時無刻不在彈廣告的辣雞軟體絕對不會是你的選擇。">
    <meta property="og:title" content="用過都說好的軟體推薦">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="zh_Hant">
    <meta property="og:url" content="https://undecv.github.io/awesome-windows-applications/">
    <meta property="og:site_name" content="キャンディージャー">
    <meta name="fediverse:creator" content="@undecv@g0v.social">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/5.0.2/tocas.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/5.0.2/tocas.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <script async="" defer="" data-website-id="3252b6d8-dd6f-4baa-a6f2-d6078a5858c2"
        src="https://umami.d.poi48.xyz/script.js"></script>
</head>

<body>
    

    <div class="ts-app-layout is-horizontal is-fullscreen">
        <!-- TOC -->
        <div class="cell is-secondary is-scrollable" style="max-width: 30%;">
            <div class="ts-content">
                <div class="ts-text is-bold header" id="top">索引</div>
                {% macro render_toc(items) -%}
                <ul class="ts-list is-small is-unordered" style="padding-inline-start: 0;">
                    {%- for item in items %}
                    {% if item.type == 'folder' %}
                    <li class="item">
                        <a class="ts-text is-undecorated" href="#folder-{{ item.id }}">{{ item.name }}</a>
                        {% if item.contents %}
                        {{ render_toc(item.contents) }}
                        {% endif %}
                    </li>
                    {% endif %}
                    {%- endfor %}
                </ul>
                {%- endmacro %}

                {{ render_toc(contents) }}
            </div>
            

        </div>

        <div class="cell is-fluid is-scrollable">
            <!-- Header Bar -->
            <div class="cell">
                <div class="ts-app-topbar">
                    <div class="start"></div>
                    <div class="center"></div>
                    <div class="end">
                        <div class="ts-content is-secondary is-center-aligned">
                                <div class="ts-meta is-large">
                                    <a target="_blank" rel="noopener noreferrer" class="item"
                                        href="https://undecv.github.io/blog/">回到我的部落格</a>
                                    <a target="_blank" rel="noopener noreferrer" class="item"
                                        href="https://github.com/undecV/">
                                        <span class="ts-icon is-github-icon"></span>
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>

            </div>

            <!-- Main Content -->
            <div class="cell is-fluid">
                <div class="ts-content is-vertically-padded">
                    <article class="ts-container is-padded is-very-narrow">
                        <h1>用過都說好的軟體推薦</h1>
                        <div class="ts-meta is-secondary">
                            <span class="item">undecV</span>
                            <time class="item" datetime="{{ now.isoformat('T', 'seconds') }}">
                                {{ now.isoformat("T", "seconds") }}
                            </time>
                        </div>
                        <p class="ts-quote is-secondary"><del>裝機必備的實用軟體大合集！</del></p>
                        <p>
                            推薦一些 Windows 平台下的軟體， 適合日常以及非日常使用。<br />
                            並不一定每一款軟體你都需要或適合你，也未必是大眾的選擇；<br />
                            <b>但是那些無時無刻不在彈廣告的辣雞軟體絕對不會是你的選擇。</b>
                        </p>

                        <div class="ts-notice is-outlined" style="text-decoration: none;">
                            <div class="title">覺得我廢話太多？</div>
                            <div class="content">那就看看左邊索引！</div>
                        </div>

                        <p>
                            本文的範圍是 應用軟體，不一定有加入例如 Google Docs、Spotify、Telegram 之類的 SaaS 網頁應用和服務，
                            想到會再加。以及像 Line 這種軟體我雖然在用，但我有的選嗎 :(
                        </p>
                        <p>文章其中的一些軟體，我可能不常用，沒有追著最新版更新，甚至時下可能還沒有安裝，但我一定都有用過、體驗過。</p>
                        <p>
                            這裡的選擇標準非常的...主觀。不是排名，不分先後。以下是我的選擇標準：
                        </p>
                        <ul class="ts-list is-unordered">
                            <li class="item">確實能夠解決問題，且有效的解決問題；</li>
                            <li class="item">沒有騷擾性質的廣告；</li>
                            <li class="item">界面端莊優雅，易於使用。</li>
                            <li class="item">開源和自由軟體。</li>
                        </ul>

                        <!-- 自動化 BEGIN -->

                        <h2>標記</h2>
                        <p>
                            本文的標記可能並不完全或有誤，甚至隨着時間的流逝而與現時不符，所以<b>僅供參考</b>，<br />
                            若發現有漏標或錯標，又或是你有更好的選擇，歡迎告訴我 :)
                        </p>
                        <ul class="ts-list is-unordered">
                            <li class="item">
                                <p>我們使用看上去十分專業的「雙名法」，即「發佈者／軟體名」。</p>
                            </li>
                            <li class="item">
                                <p>
                                    右側的
                                    <span class="ts-input is-end-icon" style="width: 12em; display: inline-flex;">
                                        <input type="text" value="又臭又長的指令" readonly />
                                        <button><span class="ts-icon is-clipboard-icon"></span></button>
                                    </span>
                                    方便你貼到命令列中一鍵安裝（如果有對應的
                                    <a target="_blank" rel="noopener noreferrer"
                                        href="https://undecv.github.io/blog/posts/command_line_useages/windows-package-managers/">
                                        軟體套件管理器
                                    </a>
                                    的話）。
                                </p>
                            </li>
                            <li class="item">
                                <p class="ts-text">
                                    軟體的費用有不要錢的 <span class="ts-chip is-circular">免費</span>，
                                    還有課金變強的 <span class="ts-chip is-circular">加值</span>，
                                    和花錢才能用的 <span class="ts-chip is-circular">付費</span>。
                                </p>
                            </li>
                            <li class="item">
                                <p>
                                    軟體的授權有 <span class="ts-chip is-circular">自由</span>
                                    標記 <a target="_blank" rel="noopener noreferrer" class="ts-text is-external-link"
                                        href="https://zh.wikipedia.org/wiki/%E5%BC%80%E6%BA%90%E8%BD%AF%E4%BB%B6">開放原始碼</a>
                                    或 <a target="_blank" rel="noopener noreferrer" class="ts-text is-external-link"
                                        href="https://zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E8%BD%AF%E4%BB%B6">自由軟體</a>；<br />
                                    沒有使用上述開放授權的軟體用 <span class="ts-chip is-circular">專有</span> 標記。
                                </p>
                            </li>
                            <li class="item">
                                <p>標籤 <span class="ts-chip is-circular is-outlined">全家桶</span>
                                    表示這是一個軟體集合，我都推薦<del>（箱推）</del>。</p>
                            </li>
                            <li class="item">
                                <p>標籤 <span class="ts-chip is-circular is-outlined">硬核</span> 表示這個軟體有較高的學習門檻。</p>
                            </li>
                            <li class="item">
                                <p>標籤 <span class="ts-chip is-circular is-outlined">命令列工具</span> 表示這個軟體要在命令列中使用。</p>
                            </li>
                            <li class="item">
                                <p>標籤 <span class="ts-chip is-circular is-outlined">專業</span> 表示使用這個軟體需要具備相關的專業知識。</p>
                            </li>
                            <li class="item">
                                <p>
                                    右側的例如
                                    <span class="ts-chip"><span class="ts-icon is-house-icon"></span></span>
                                    是連結到官方網站、對應的應用商店等連結。
                                </p>
                            </li>
                        </ul>

                        {% macro render_header(level, item) %}
                        <div class="ts-content is-large">
                            <div class="ts-grid">
                                <div class="column is-fluid">
                                    <h{{ level }} id="folder-{{ item.id }}">
                                        <a class="ts-text is-undecorated" href="#folder-{{ item.id }}">{{ item.name }}</a>
                                    </h{{ level }}>
                                </div>
                                <div class="column"></div>
                            </div>
                            {% if item.comment %}<p lass="ts-text">{{ item.comment }}</p>{% endif %}
                            {% if item.note %}<p class="ts-text is-description">{{ item.note }}</p>{% endif %}
                        </div>
                        {% endmacro %}

                        {% macro render_application(item) %}
                        {% set id = (item.id or (item.publisher ~ '-' ~ item.name)) | sanitize_id %}
                        <div class="ts-content is-dense">
                            <div class="ts-box" id="app-{{ id }}">
                                <div class="ts-content is-dense ts-grid is-middle-aligned">
                                    <div class="column is-fluid ts-header is-heavy">
                                        <div class="ts-text">
                                            <a class="ts-text is-undecorated" href="#app-{{ id }}">
                                                <span>{{ item.publisher }}</span>/<span>{{ item.name }}</span>
                                            </a>
                                        </div>
                                    </div>

                                    {# 若有 install[0].content 則顯示 input 欄位 #}
                                    {% if item.install and item.install[0].content %}
                                    <div class="column is-8-wide ts-input is-end-icon">
                                        <input type="text" value="{{ item.install[0].content }}" readonly />
                                        <button
                                            onclick="navigator.clipboard.writeText(this.previousElementSibling.value);">
                                            <span class="ts-icon is-clipboard-icon"></span>
                                        </button>
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="ts-content is-dense">
                                    <div class="ts-grid">
                                        <div class="column is-fluid ts-wrap is-compact">
                                            {% if item.price and item.license%}
                                            {% set price_map = {'free': '免費', 'freemium': '加值', 'paid': '付費'} %}
                                            {% set price = price_map.get(item.price, item.price) %}
                                            {% set license = '專有' if item.license and item.license[0] == 'Proprietary'
                                            else '開源' %}
                                            <span class="ts-chip is-circular" data-tooltip="{{ item.license }}">{{ price }}・{{ license }}</span>
                                            {% endif %}

                                            {# 顯示 tags #}
                                            {% for tag in item.tags or [] %}
                                            <span class="ts-chip is-circular is-outlined">{{ tag }}</span>
                                            {% endfor %}
                                        </div>

                                        <div class="column ts-wrap is-compact">
                                            {% for link in item.links or [] %}
                                            {% if link.class == "homepage" %}<a target="_blank"
                                                rel="noopener noreferrer" class="ts-chip" href="{{ link.href }}"><span
                                                    class="ts-icon is-house-icon"></span></a>
                                            {% elif link.class == "github" %}<a target="_blank"
                                                rel="noopener noreferrer" class="ts-chip" href="{{ link.href }}"><span
                                                    class="ts-icon is-github-icon"></span></a>
                                            {% elif link.class == "steam" %}<a target="_blank" rel="noopener noreferrer"
                                                class="ts-chip" href="{{ link.href }}"><span
                                                    class="ts-icon is-steam-icon"></span></a>
                                            {% elif link.class == "ms-store" %}<a target="_blank"
                                                rel="noopener noreferrer" class="ts-chip" href="{{ link.href }}"><span
                                                    class="ts-icon is-windows-icon"></span></a>
                                            {% elif link.class == "firefox" %}<a target="_blank"
                                                rel="noopener noreferrer" class="ts-chip" href="{{ link.href }}"><span
                                                    class="ts-icon is-firefox-browser-icon"></span></a>
                                            {% elif link.class == "chrome" %}<a target="_blank"
                                                rel="noopener noreferrer" class="ts-chip" href="{{ link.href }}"><span
                                                    class="ts-icon is-chrome-icon"></span></a>
                                            {% elif link.class == "google-play" %}<a target="_blank"
                                                rel="noopener noreferrer" class="ts-chip" href="{{ link.href }}"><span
                                                    class="ts-icon is-google-play-icon"></span></a>
                                            {% elif link.class == "apple-app-store" %}<a target="_blank"
                                                rel="noopener noreferrer" class="ts-chip" href="{{ link.href }}"><span
                                                    class="ts-icon is-apple-icon"></span></a>
                                            {% elif link.class == "site" %}<a target="_blank" rel="noopener noreferrer"
                                                class="ts-chip" href="{{ link.href }}">{{
                                                link.content }}</a>
                                            {% else %}<a target="_blank" rel="noopener noreferrer" class="ts-chip"
                                                href="{{ link.href }}">{{ link.content }}</a>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="ts-content is-dense">
                                        {% if item.comment %}<div class="ts-text">{{ item.comment }}</div>{% endif %}
                                        {% if item.note %}<div class="ts-text is-description">{{ item.note }}</div>{% endif %}
                                    </div>
                                </div>
                                {% for subitem in item.contents or [] %}
                                {{ render_application(subitem) }}
                                {% endfor %}
                            </div>
                        </div>
                        {% endmacro %}

                        {% macro render_link(item) %}
                        {% set id = (item.id or (item.publisher ~ '-' ~ item.name)) | sanitize_id %}
                        <div class="ts-content is-dense">
                            <div class="ts-box" id="app-{{ id }}">
                                <div class="ts-content is-dense ts-grid is-middle-aligned">
                                    <div class="column is-fluid ts-header is-heavy">
                                        <div class="ts-text">
                                            <span>{{ item.publisher }}</span>/<span>{{ item.name }}</span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <a href="#app-{{item.refer}}"
                                            class="ts-button is-secondary is-dense is-end-labeled-icon">
                                            <span class="ts-text">去看看</span>
                                            <span class="ts-icon is-secondary is-square-arrow-up-right-icon"></span>
                                        </a>
                                    </div>
                                </div>

                                <div class="ts-content is-dense">
                                    {% if item.comment %}<div class="ts-text">{{ item.comment }}</div>{% endif %}
                                    {% if item.note %}<div class="ts-text is-description">{{ item.note }}</div>{% endif %}
                                </div>
                                <div class="symbol">
                                    <span class="ts-icon is-square-arrow-up-right-icon"></span>
                                </div>
                            </div>
                        </div>
                        {% endmacro %}


                        {% macro render_contents(level, items) -%}
                        {% for item in items %}
                        {% if item.type == "folder" %}
                        {{ render_header(level, item) }}
                        {{ render_contents(level + 1, item.contents) }}
                        {% elif item.type == "link" %}
                        {{ render_link(item) }}
                        {% else %}
                        {{ render_application(item) }}
                        {% endif %}
                        {% endfor %}
                        {%- endmacro %}

                        {{ render_contents(3, contents) }}
                        <!-- 自動化 END -->

                        <h2>如何尋找優秀的實用軟體</h2>

                        <h3>怎麼找？</h3>
                        <ul class="ts-list is-unordered">
                            <li class="item">電腦的軟體的強大，不在於能做到多少事情，而是一件事情能做得多好。</li>
                            <li class="item">應用軟體應該旨在幫助用戶完成工作，提高效率。 <del>而不是讓用戶的電腦成為廣告投放機。</del></li>
                            <li class="item">一些很棒的軟體功能非常強大，但是學習門檻較高，或是需要經過調教，<del>甚至可能需要老司機帶路，</del>但是學會了就能夠享受它們的便利了。
                            </li>
                            <li class="item">不要小看網頁瀏覽器的附加元件＼擴充套件，他們能夠極大地提高體驗和便利。</li>
                        </ul>

                        <h3>去哪裡找？</h3>
                        <ul class="ts-list is-unordered">
                            <li class="item">看緣分（這是真...</li>
                            <li class="item">維基百科：根據你想要的功能搜尋，尤其是一些列表和比較的頁面，標題通常像是「List of ...」或「Comparison of ...」。</li>
                            <li class="item">尋找現有軟體的替代品：
                                <ul class="ts-list is-unordered"><a target="_blank" rel="noopener noreferrer"
                                        class="ts-text is-external-link"
                                        href="https://alternativeto.net/">AlternativeTo</a></ul>
                                <ul class="ts-list is-unordered"><a target="_blank" rel="noopener noreferrer"
                                        class="ts-text is-external-link"
                                        href="https:/openalternative.co/alternatives">OpenAlternative</a></ul>
                            </li>
                            <li class="item">相關的部落格＼網站：
                                <ul class="ts-list is-unordered">
                                    <li class="item"><a target="_blank" rel="noopener noreferrer"
                                            class="ts-text is-external-link" href="http://www.appinn.com/">小众软件</a></li>
                                    <li class="item"><a target="_blank" rel="noopener noreferrer"
                                            class="ts-text is-external-link"
                                            href="http://www.azofreeware.com/">阿榮福利味</a></li>
                                    <li class="item"><a target="_blank" rel="noopener noreferrer"
                                            class="ts-text is-external-link" href="https://free.com.tw/">免費資源網路社群</a>
                                    </li>
                                    <li class="item"><a target="_blank" rel="noopener noreferrer"
                                            class="ts-text is-external-link" href="https://pcrookie.com/">軟體玩家</a></li>
                                    <li class="item"><a target="_blank" rel="noopener noreferrer"
                                            class="ts-text is-external-link" href="http://www.playpcesor.com/">電腦玩物</a>
                                    </li>
                                    <li class="item"><a target="_blank" rel="noopener noreferrer"
                                            class="ts-text is-external-link" href="http://xbeta.info/">善用佳软</a></li>
                                </ul>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
            <!-- Footer -->
            <div class="cell">
                <div class="ts-content is-secondary is-vertically-very-padded">
                    <div class="ts-header is-heavy">Awesome Applications List.</div>
                    <div class="ts-text is-description">© 2017-{{ now.strftime('%Y') }} by
                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/undecv">undecV</a> is licensed
                        under
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
                            CC BY-NC-SA 4.0
                        </a>
                        <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt=""
                            style="max-width: 1em;max-height:1em;margin-left: .2em;">
                        <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt=""
                            style="max-width: 1em;max-height:1em;margin-left: .2em;">
                        <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt=""
                            style="max-width: 1em;max-height:1em;margin-left: .2em;">
                        <img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt=""
                            style="max-width: 1em;max-height:1em;margin-left: .2em;">
                    </div>
                    <div class="ts-text is-description">
                        本頁面使用了
                        <a class="ts-text is-external-link" target="_blank"
                            rel="noopener noreferrer" href="https://tocas-ui.com/">Tocas UI</a>。
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>