---
Title: 推薦的 Windows 應用軟體列表
Date: {{ meta.version[0].date }}
Modified: {{ meta.version[0].date }}
Category: Category
Tags: [zh_TW, Awesome lists, Windows, Softwares, Apps]
Slug: WinSoft
Authors: [undecV]
Summary: List of Windows Application Software<br /><del>裝機必備的實用軟體大合集！</del>
...

推薦一些 Windows 平台下的軟體， 適合日常以及非日常使用。<br />
並不一定每一款軟體你都需要或適合你，也未必是大眾的選擇；<br />
<del>但是那些無時無刻不在彈廣告的辣雞軟件一定不會是你的選擇。</del>

<!-- # List of Windows Application Software -->

> <del>裝機必備的實用軟體大合集！</del>

> Version {{ meta.version[0].ver }} ({{ meta.version[0].date }}){% if meta.version[0].note %}: {{meta.version[0].note}}{% endif %}

> Copyright © {{ meta.version[0].date.year }} undecV.<br />
> [![Creative Commons License](https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png)](http://creativecommons.org/licenses/by-nc-sa/4.0/)<br />
> This work is licensed under a [Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License](http://creativecommons.org/licenses/by-nc-sa/4.0/)

## 概論

提示，本文討論的範圍是 應用軟體，不包括例如 Google Docs, Spotify, Telegram 之類的 SaaS 網頁應用和服務。

文章其中的一些軟體，我可能不常用，沒有追著最新版更新，甚至時下可能還沒有安裝，但我一定都有用過、體驗過。

也請注意，這裡的選擇標準非常的... 主觀。（不是排名，不分先後）<br />
以下是粗略的選擇的標準：

- 確實能夠解決問題，且有效的解決問題；
- 沒有騷擾性質的廣告；
- 界面端莊優雅，易於使用。
- FOSS，即是 [自由軟體（Free Software）][wikipeidia:zh:free-software] 以及 [開放原始碼軟體（Open Source Software，OSS）][wikipeidia:zh:OSS]，這裡的 Free 表示「自由（libre）」而不是「免費（gratis）」；開放原始碼軟體保留一部分權利並允許用戶學習、修改、增進提高這款軟體的品質。自由軟體更加的開放，可以不受限制地自由使用、複製、研究、修改和分發。

[wikipeidia:zh:OSS]: https://zh.wikipedia.org/wiki/开源软件
[wikipeidia:zh:free-software]: https://zh.wikipedia.org/wiki/自由软件

### 第三版更新的廢話

- 由於篇幅刪除了「瀏覽器插件」章節：瀏覽器的 插件、UserScript、UserStyles 能大幅增益網路使用體驗，以後有機會我會再撰文介紹。
- 刪除了「防毒軟體」章節：免費的防毒軟體體驗確實差<del>（其實付費也是）</del>，如果你使用的是正版 Windows 作業系統，自帶原生的 Windows Security 就可以滿足需求。電腦的安全更需要的是建立安全意識，並且保持良好的網路使用習慣，不要看網路上的野路子教學一頓風騷操作說關就關防火牆和防毒軟體之類的。

這份列表從大學的一個突發奇想到現在已四年有餘，感謝各位的捧場，<br />
你們與我的討論也讓我感受到了編寫這份列表的價值。<br />
希望能對各位有所幫助，在完成電腦上繁雜工作的時候可以感到舒適和效率：）

## 標記

本文的標記可能並不完全或有誤，甚至隨着時間的流逝而與現時不符，所以**僅供參考**，若發現有漏標或錯標，又或是你有更好的軟體選擇，歡迎在這個 [Repo](https://github.com/undecV/undecV_Tutorial/issues) 提出修改建議：）

- 沒有標記的，一般來說都是[免費軟體（Freeware）][wikipeidia:zh:freeware]。
- `自由`：FOSS，自由軟體（Free Software）和開放原始碼軟體（Open Source Software，OSS）
- `商業`：[商業軟體（Commercial Software）][wikipeidia:zh:commercial-software]，一般來說，要錢買的。但有免費版本的不標示。

[wikipeidia:zh:freeware]: https://zh.wikipedia.org/wiki/免費軟體
[wikipeidia:zh:commercial-software]: https://zh.wikipedia.org/wiki/商业软件

## 推薦軟體列表

{% set flags_filter = ['Abandon', 'Pro', 'Old', 'Discontinued'] -%}
{% set count = namespace(filter=0, folder=0, element=0) -%}
{% macro h(level, string) %}<h{{ level }}>{{ string }}</h{{ level }}>{% endmacro -%}
{% macro a(string, href) %}{% if href %}<a href="{{ href }}">{{ string }}</a>{% else %}{{ string }}{% endif %}{% endmacro -%}
{% macro ele_str(i) -%}
{% if foss_str(i) %}<code>{{ foss_str(i) }}</code> {% endif -%}
{% set text %}<strong>{{ i.text }}</strong>{% endset -%}
{{ a(text, i.link) -}}
{% if i.cmnt or i.flag or i.refs %}: {% endif -%}
{% if i.flag %}[{% for f in i.flag %}<code>{{ f }}</code>{% if not loop.last %}, {% endif %}{% endfor %}] {% endif -%}
{% if i.cmnt %}{{ i.cmnt }}{% endif -%}
{% if i.refs %}({% for r in i.refs %}{{ a(r.text, r.href) }}{% if not loop.last %}, {% endif %}{% endfor %}){% endif -%}
{%- endmacro -%}
{% macro mrecr(r, depth) %}
{% if r.eles -%}
<ul>
{% for e in r.eles recursive -%}
{%- if not isdisjoint(e.flag, flags_filter) %}{% set count.filter = count.filter + 1 %}{% continue %}{% endif -%}
{%- set count.element = count.element + 1 -%}
<li>{{ele_str(e)}}</li>
{% if e.subi -%}<ul>{{ loop(e.subi) }}</ul>{%- endif %}
{%- endfor -%}
</ul>
{%- endif -%}
{% for f in r.flds -%}
{%- if not isdisjoint(f.flag, flags_filter) %}{% set count.filter = count.filter + 1 %}{% continue %}{% endif -%}
{%- set count.folder = count.folder + 1 -%}
{{ a(h(depth+3, f.text), f.link) }}
{%- if f.recr -%}{{ mrecr(f.recr, depth+1) }}{%- endif %}
{%- endfor %}
{% endmacro -%}

{{- mrecr(recr, 0) -}}

<!--
Flags filter: {{ flags_filter }}
Count: {filter: {{ count.filter }}, folders: {{ count.folder }}, elements: {{ count.element }}}
-->

## 如何尋找實用優秀軟體

### 怎麼找？

- 電腦的軟體的強大，不在於能做到多少事情，而是一件事情能做得多好。
- 應用軟體應該旨在幫助用戶完成工作，提高效率。 <del>而不是讓用戶的電腦成為廣告投放機。</del>
- 遠離流氓軟體，享受健康生活。
- 一些很棒的軟體功能非常強大，但是學習門檻較高，或是需要經過調教，<del>甚至可能需要老司機帶路，</del>但是學會了就能夠享受它們的便利了。
- 不要小看網頁瀏覽器的附加元件＼擴充套件，他們能夠極大地提高體驗和便利。

### 去哪裡找？

- 看緣分（這是真...
- 維基百科：根據你想要的功能搜尋，特別是一些列表和比較的頁面，標題通常像是「List of ...」或「Comparison of ...」。
- 尋找現有軟體的替代品：
    - [AlternativeTo](https://alternativeto.net/)
- 相關的部落格＼網站：
    - [小众软件](http://www.appinn.com/)
    - [阿榮福利味](http://www.azofreeware.com/)
    - [免費資源網路社群](https://free.com.tw/)
    - [軟體玩家](https://pcrookie.com/)
    - [電腦玩物](http://www.playpcesor.com/)
    - [善用佳软](http://xbeta.info/)
    - ...

---

## Release Notes

{% for version in meta.version -%}
- {{ version.ver }} ({{ version.date }}){% if version.note %}: {{version.note}}{% endif %}
{% endfor %}
